<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="server" value="uat"></parameter>
<parameter name="propertyFile" value="/src/test/resources/config/config.properties"></parameter>
<parameter name="csvFile" value="/src/test/resources/prodata/names.csv"></parameter>
 
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="datadriven.CsvReader"/>
    </classes>
  </test> <!-- Test -->



</suite> <!-- Suite -->
